In this project we're asking the heavy hitting questions. Does the height of mountains correlate with the amount of people that have died on them? Do those heights impact their causes of death?

# Questions about your Data:

Q1: What are the observational units in the first data set (the one you will use as the left-hand one in the merge)?

A1:  The observational units in the first dataset, df_death (Deaths on Eight Thousanders), correspond to the date of the death, name of the deceased, their nationality, cause of death, and the nationality of the deceased. This data set only includes deaths on the 14 mountain peaks that exceed 8000 meters above sea level

Q2: What are the observational units in the second data set (the one you will use as the right-hand one in the merge)?

A2:  The observational units in the second dataset, df_mtn (List of Highest Mountains on Earth), correspond to the specific mountains and includes variables such as height, prominence, rank, and mountain classification. There are a handful of columns that are mislabeled and/or don't have explained meanings.

Q3: What will the observational units be in the merged data set you expect to have as a result of this assignment?

A3: As a result of this assignment, we expect the observational units in the merged dataset to be individual death events, with each event enriched by the variables from the df_mtn dataset. This means every row represents a death from df_death that was matched to its corresponding mountain in df_mtn through the mountain name. As a result, each death event will contain both the event specific details and the mountain characteristics such as height and ranking.

Q4: Will you be doing a left, right, inner, or outer join?  Don't just state the answer in one word, but give a reason why your answer makes sense for the two data sets you have (and possibly also your goals for the merge, if appropriate).

A4: For our merged dataset, we are using an inner join as all of the mountains in df_death are listed within the larger df_mtn dataset. Merging on the right would not make sense, and technically we could merge on the left, but that would imply that there are rows in the left dataset that do not match up to the right dataset.

Q5: How many rows and columns do you expect to have in the merged data set, and what is your reason for each of those numbers?

A5: The merged dataset will contain one row for each death event, because we will perform an inner join between df_death and df_mtn. Since every death record will find a matching mountain in the mountain dataset, the number of rows in the merged dataset will be equal to the number of rows in df_death.

# The Merge:

## Importing both data sets:

In [1]:
#import packages
import pandas as pd
import numpy as np
import matplotlib
from difflib import get_close_matches

First we need to load in our data. df_death holds the deaths that have occurred on various mountains and df_mtn which contains our list of the tallest mountains.

In [2]:
df_death = pd.read_csv('deaths_on_eight-thousanders.csv')
#we will use the Mountain column of this dataset as the official mountain name list
official_name_list = list(df_death['Mountain'].unique())
df_death

,Date,Name,Nationality,Cause of death,Mountain
0,2023-07-27,Muhammad Hassan,Pakistan,Unknown,K2
1,2022-07-22,Matthew Eakin,Australia,Fall,K2
2,2022-07-22,Richard Cartier,Canada,Fall,K2
3,2022-07-21,Ali Akbar Sakhi,Afghanistan,"Unknown, suspected altitude sickness",K2
4,2021-07-25,Rick Allen,United Kingdom,Avalanche,K2
...,...,...,...,...,...
1073,2023-05-21,Ang Kami Sherpa,Nepal,Fall,Mount Everest
1074,2023-05-25,Szilárd Suhajda [hu],Hungary,Disappeared (reportedly suffered from HACE),Mount Everest
1075,2023-05-25,Ranjit Kumar Shah,Nepal,Disappeared,Mount Everest
1076,2023-05-26,Pieter Swart,Canada,Respiratory Event,Mount Everest
1077,2023-06-03,Lhakpa Nuru Sherpa,Nepal,"Suffered from HAPE, later died in hospital due...",Mount Everest

In [3]:
official_name_list

['K2',
 'Kangchenjunga',
 'Lhotse',
 'Makalu',
 'Cho Oyu',
 'Dhaulagiri I',
 'Manaslu',
 'Nanga Parbat',
 'Annapurna I',
 'Gasherbrum I',
 'Broad Peak',
 'Gasherbrum II',
 'Shishapangma',
 'Mount Everest']

In [4]:
df_mtn = pd.read_csv('List of Highest Mountains on Earth export 2025-11-06 22-49-49.csv')

df_mtn

,Rank[dp 1],Mountain name(s),Height(rounded)[dp 2],Prominence(rounded)[dp 3],Range,Coordinates[dp 4],Parent mountain[dp 5],Ascents before2004[dp 6],Country,Photo,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,1.0,Mount EverestSagarmathaChomolungma,"8,849","29,032[dp 7]","8,849","29,032",Mahalangur Himalaya,27°59′18″N 86°55′30″E﻿ / ﻿27.9882361°N 86.9250...,—,1953.0,145.0,121,NepalChina,NaN
1,2.0,K2,"8,611","28,251","4,020","13,190",Baltoro Karakoram,35°52′53″N 76°30′48″E﻿ / ﻿35.88139°N 76.51333°...,Mount Everest,1954.0,45.0,44,"Pakistan, China",NaN
2,3.0,Kangchenjunga,"8,586","28,169","3,922","12,867",Kangchenjunga Himalaya,27°42′12″N 88°08′51″E﻿ / ﻿27.70333°N 88.14750°...,Mount Everest,1955.0,38.0,24,NepalIndia,NaN
3,4.0,Lhotse,"8,516","27,940",610,"2,000",Mahalangur Himalaya,27°57′42″N 86°55′59″E﻿ / ﻿27.96167°N 86.93306°...,Mount Everest,1956.0,26.0,26,ChinaNepal,NaN
4,5.0,Makalu,"8,485","27,838","2,378","7,802",Mahalangur Himalaya,27°53′23″N 87°05′20″E﻿ / ﻿27.88972°N 87.08889°...,Mount Everest,1955.0,45.0,—,NepalChina,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,104.0,Noijin KangsangNorin Kang,"7,206","23,642","2,160","7,090",Nagarze Himalaya,28°56′48″N 90°10′42″E﻿ / ﻿28.94667°N 90.17833°...,Gangkhar Puensum,1986.0,4.0,1,China,NaN
116,105.0,Langtang Ri,"7,205","23,638",665,"2,182",Langtang Himalaya,28°22′53″N 85°41′01″E﻿ / ﻿28.38139°N 85.68361°...,Shishapangma,1981.0,4.0,0,NepalChina,NaN
117,106.0,Kangphu KangShimokangri,"7,204","23,635","1,244","4,081",Lunana Himalaya,28°09′24″N 90°04′15″E﻿ / ﻿28.15667°N 90.07083°...,Tongshanjiabu,2002.0,1.0,0[21],BhutanChina[dp 17],NaN
118,107.0,Singhi Kangri,"7,202","23,629",730,"2,400",Siachen Karakoram,35°35′59″N 76°59′01″E﻿ / ﻿35.59972°N 76.98361°...,Teram Kangri III,1976.0,2.0,0,IndiaChina[dp 13][dp 14]'[dp 12],NaN
119,108.0,Lupghar Sar,"7,200","23,600",730,"2,400",Hispar Karakoram,36°21′01″N 75°02′13″E﻿ / ﻿36.35028°N 75.03694°...,Momhil Sar,1979.0,1.0,0,Pakistan[dp 18],NaN

## Cleaning and dropping

In [5]:
#The 'Country' Column of df_mtn does not show country at all. Instead it shows a different mountain name... we're gonna drop it
df_mtn.drop('Country', axis = 1, inplace = True)
#The Unnamed: 12 column seems to actually show the countries these mountains are in. 
#This column screwed up in how it concatenated countries for mountains in multiple regions.
#Fortunately we will not be using this data, therefore we are dropping it :)
df_mtn.drop('Unnamed: 12', axis = 1, inplace = True)
#The other unnamed columns are never explained in the initial dataset, meaning we will also drop them
df_mtn.drop('Unnamed: 10', axis = 1, inplace = True)
df_mtn.drop('Unnamed: 11', axis = 1, inplace = True)
df_mtn.drop('Unnamed: 13', axis = 1, inplace = True)
#The coordinates are in the wrong column under "Ascents before 2004" with the data in the 'photo column' supposed to be in 'ascents before 2004'. We also don't need that data. We will drop them
df_mtn.drop('Ascents before2004[dp 6]', axis = 1, inplace = True)
df_mtn.drop('Photo', axis = 1, inplace = True)

df_mtn

,Rank[dp 1],Mountain name(s),Height(rounded)[dp 2],Prominence(rounded)[dp 3],Range,Coordinates[dp 4],Parent mountain[dp 5]
0,1.0,Mount EverestSagarmathaChomolungma,"8,849","29,032[dp 7]","8,849","29,032",Mahalangur Himalaya
1,2.0,K2,"8,611","28,251","4,020","13,190",Baltoro Karakoram
2,3.0,Kangchenjunga,"8,586","28,169","3,922","12,867",Kangchenjunga Himalaya
3,4.0,Lhotse,"8,516","27,940",610,"2,000",Mahalangur Himalaya
4,5.0,Makalu,"8,485","27,838","2,378","7,802",Mahalangur Himalaya
...,...,...,...,...,...,...,...
115,104.0,Noijin KangsangNorin Kang,"7,206","23,642","2,160","7,090",Nagarze Himalaya
116,105.0,Langtang Ri,"7,205","23,638",665,"2,182",Langtang Himalaya
117,106.0,Kangphu KangShimokangri,"7,204","23,635","1,244","4,081",Lunana Himalaya
118,107.0,Singhi Kangri,"7,202","23,629",730,"2,400",Siachen Karakoram
119,108.0,Lupghar Sar,"7,200","23,600",730,"2,400",Hispar Karakoram

## Fuzzy Matching

Now we need to merge these data sets. We will merge on 'Mountain' for df_death and 'Mountain name(s)' for df_mtn. We have to do a fuzzy match as the mountains don't share the exact same name in the data sets such as: 'Mount Everest' vs 'Mount EverestSagarmathaChomolungma' which seems to be a concatenation of its original name and its subsequent nomenclature.

In [6]:
#Yoinking our function from HW 3, we will use it to get our names fixed
def get_closest_official_name ( name_from_df_mtn, official_name_list=official_name_list):
    if name_from_df_mtn in official_name_list:
        return name_from_df_mtn
    
    close_matches = get_close_matches(name_from_df_mtn, official_name_list)
    if close_matches:
        return close_matches[0]
    else:
        return np.nan

In [7]:
# Create new empty column
df_mtn['Official Name'] = np.nan
#For each name, run it through and add the close match to the new column
for idx, name in enumerate(df_mtn['Mountain name(s)']):
    official_name = get_closest_official_name(name)
    df_mtn.loc[idx, 'Official Name'] = official_name

#let's check it out and see if it works!
df_mtn[['Mountain name(s)','Official Name']]

/tmp/ipykernel_150/1478586381.py:11: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'K2' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_mtn.loc[idx, 'Official Name'] = official_name

                       Mountain name(s)  Official Name
0    Mount EverestSagarmathaChomolungma            NaN
1                                    K2             K2
2                         Kangchenjunga  Kangchenjunga
3                                Lhotse         Lhotse
4                                Makalu         Makalu
..                                  ...            ...
115           Noijin KangsangNorin Kang            NaN
116                         Langtang Ri            NaN
117             Kangphu KangShimokangri            NaN
118                       Singhi Kangri            NaN
119                         Lupghar Sar            NaN

[120 rows x 2 columns]

We'll have to fix these manually because fuzzy matching is evil.

Problem list to fix idx: 0,

problem list to drop: 16, 15, 17, 23, 31, 39, 41, 42, 46, 51, 64, 67, 73, 101, 102

In [8]:
#manual fix with dict
fix_dict = {
    0:"Mount Everest",
    15: "",
    16: "",
    17: "",
    23: "",
    31: "",
    39: "",
    41: "",
    42: "",
    46: "",
    51: "",
    64: "",
    67: "",
    73: "",
    101: "",
    102: ""
    
}
#actually implement the changes
for idx, correct_name in fix_dict.items():
    df_mtn.loc[idx, 'Official Name'] = correct_name
#drop unnecessary column now that our mountain names are corrected
df_mtn.drop('Mountain name(s)', axis=1, inplace=True)
df_mtn

,Rank[dp 1],Height(rounded)[dp 2],Prominence(rounded)[dp 3],Range,Coordinates[dp 4],Parent mountain[dp 5],Official Name
0,1.0,"8,849","29,032[dp 7]","8,849","29,032",Mahalangur Himalaya,Mount Everest
1,2.0,"8,611","28,251","4,020","13,190",Baltoro Karakoram,K2
2,3.0,"8,586","28,169","3,922","12,867",Kangchenjunga Himalaya,Kangchenjunga
3,4.0,"8,516","27,940",610,"2,000",Mahalangur Himalaya,Lhotse
4,5.0,"8,485","27,838","2,378","7,802",Mahalangur Himalaya,Makalu
...,...,...,...,...,...,...,...
115,104.0,"7,206","23,642","2,160","7,090",Nagarze Himalaya,NaN
116,105.0,"7,205","23,638",665,"2,182",Langtang Himalaya,NaN
117,106.0,"7,204","23,635","1,244","4,081",Lunana Himalaya,NaN
118,107.0,"7,202","23,629",730,"2,400",Siachen Karakoram,NaN
119,108.0,"7,200","23,600",730,"2,400",Hispar Karakoram,NaN

## Merge the two data sets

In [9]:
df_merged = pd.merge(df_death, df_mtn, left_on='Mountain',right_on='Official Name', how = 'inner')
df_merged

,Date,Name,Nationality,Cause of death,Mountain,Rank[dp 1],Height(rounded)[dp 2],Prominence(rounded)[dp 3],Range,Coordinates[dp 4],Parent mountain[dp 5],Official Name
0,2023-07-27,Muhammad Hassan,Pakistan,Unknown,K2,2.0,"8,611","28,251","4,020","13,190",Baltoro Karakoram,K2
1,2022-07-22,Matthew Eakin,Australia,Fall,K2,2.0,"8,611","28,251","4,020","13,190",Baltoro Karakoram,K2
2,2022-07-22,Richard Cartier,Canada,Fall,K2,2.0,"8,611","28,251","4,020","13,190",Baltoro Karakoram,K2
3,2022-07-21,Ali Akbar Sakhi,Afghanistan,"Unknown, suspected altitude sickness",K2,2.0,"8,611","28,251","4,020","13,190",Baltoro Karakoram,K2
4,2021-07-25,Rick Allen,United Kingdom,Avalanche,K2,2.0,"8,611","28,251","4,020","13,190",Baltoro Karakoram,K2
...,...,...,...,...,...,...,...,...,...,...,...,...
1073,2023-05-21,Ang Kami Sherpa,Nepal,Fall,Mount Everest,1.0,"8,849","29,032[dp 7]","8,849","29,032",Mahalangur Himalaya,Mount Everest
1074,2023-05-25,Szilárd Suhajda [hu],Hungary,Disappeared (reportedly suffered from HACE),Mount Everest,1.0,"8,849","29,032[dp 7]","8,849","29,032",Mahalangur Himalaya,Mount Everest
1075,2023-05-25,Ranjit Kumar Shah,Nepal,Disappeared,Mount Everest,1.0,"8,849","29,032[dp 7]","8,849","29,032",Mahalangur Himalaya,Mount Everest
1076,2023-05-26,Pieter Swart,Canada,Respiratory Event,Mount Everest,1.0,"8,849","29,032[dp 7]","8,849","29,032",Mahalangur Himalaya,Mount Everest
1077,2023-06-03,Lhakpa Nuru Sherpa,Nepal,"Suffered from HAPE, later died in hospital due...",Mount Everest,1.0,"8,849","29,032[dp 7]","8,849","29,032",Mahalangur Himalaya,Mount Everest

## Verify the merge

In [10]:
#ensuring we've kept all the records from df_death
assert len(df_death) == len(df_merged)
#verifying all the names are the same
assert (df_merged['Mountain'] == df_merged['Official Name']).all()

## Export your merged data set

In [11]:
df_merged.to_csv('df_mtn_death', index = False)

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=2429a37f-7420-4c06-9197-181ebcfdff46' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>